<div class="fez-trusted" id="m-modularity">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-center">
        <h2 class="to-animate"><i class="fa fa-heartbeat"></i> 模块化开发</h2>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 subtext">
            <p>模块化是一种处理复杂系统分解为更好的可管理模块的方式。每个模块完成一个特定的子功能，所有的模块再进行统一的拼装和加载，成为一个整体，完成整个系统所要求的功能。</p>
            <p class="to-animate">FEZ 将复杂的系统细分为模块，分治管理，并有统一的文件结构，兼顾模块的通用和复用原则，极大提高研发效率及产品迭代的可维护性。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <pre class="to-animate"><code class="language-powershell">{{moduleViews}}</code></pre>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <pre class="to-animate"><code class="language-powershell">{{moduleStyles}}</code></pre>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <pre class="to-animate"><code class="language-powershell">{{moduleImages}}</code></pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fez-blog" id="m-promise">
  <div class="container" style="padding-bottom:30px;">
    <div class="row">
      <div class="col-md-12 section-heading text-center">
        <h2 class="to-animate"><i class="fa fa-heartbeat"></i> 异步编程</h2>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 subtext">
            <h3 class="to-animate">高效组织模块逻辑、提高代码运行效率</h3>
            <p class="to-animate">FEZ 内置 Promise 异步编程解决方案，高效组织模块间的耦合关系，并让Javascript代码可以“多线程”运行，极大提高代码运行、及页面渲染效率。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 to-animate">
        <pre><code class="language-javascript">{{promiseService}}</code></pre>
      </div>
      <div class="col-md-6 to-animate">
        <pre><code class="language-javascript">{{promiseModule}}</code></pre>
      </div>
    </div>
  </div>
</div>
