<div class="fez-trusted" id="m-modularity">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate"><i class="fa fa-heartbeat"></i> 模块化开发</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext">
                        <h3 class="to-animate">系统由页面组成</h3>
                        <h3 class="to-animate">页面由模块组成</h3>
                        <h3 class="to-animate">每个模块包括：获取数据、渲染显示、交互操作</h3>
                        <p class="to-animate">将复杂的系统细分为模块，分治管理，兼顾模块的通用和复用原则，提高研发效率及产品迭代的可维护性</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <pre class="to-animate"><code class="language-powershell">{{moduleViews}}</code></pre>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <pre class="to-animate"><code class="language-powershell">{{moduleStyles}}</code></pre>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <pre class="to-animate"><code class="language-powershell">{{moduleImages}}</code></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fez-blog" id="m-promise">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate"><i class="fa fa-heartbeat"></i> 异步编程</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext">
                        <h3 class="to-animate">合理组织模块逻辑、提高代码运行效率</h3>
                        <p class="to-animate">Javascript语言的执行环境是“单线程”的，所以异步编程对JavaScript语言非常重要。所谓"异步"，简单说就是一个任务分成两段，先执行第一段，然后转而执行其他任务，等做好了准备，再回过头执行第二段。</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 to-animate">
                <pre><code class="language-javascript">{{promiseService}}</code></pre>
            </div>
            <div class="col-md-6 to-animate">
                <pre><code class="language-javascript">{{promiseModule}}</code></pre>
            </div>
        </div>
    </div>
</div>
